<fieldset class="perfil-fs" *ngIf="perfil">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-1">
        <strong>Nome: </strong>
      </div>
      <div class="ui-g-11">
        <label>{{ perfil.name }}</label>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12">
        <strong>Serviços oferecidos:</strong>
        <span *ngIf="perfil.nome_serv_1">{{ perfil.nome_serv_1 }},</span>
        <span *ngIf="perfil.nome_serv_2">{{ perfil.nome_serv_2 }},</span>
        <span *ngIf="perfil.nome_serv_3">{{ perfil.nome_serv_3 }}</span>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2">
        <strong>Avaliação: </strong>
      </div>

      <div class="ui-g-10">
        <p-rating ngModel="5" readonly="true" stars="5" [cancel]="false"></p-rating>
      </div>
    </div>

    <div class="ui-g-12">
      <fieldset>
        <div class="ui-g-12">
          <strong>Descrição: </strong>
        </div>

        <div class="ui-g-12">
          <label [innerHTML]="perfil.descricao"></label>
        </div>
      </fieldset>
    </div>

    <div class="ui-g-12" *ngIf="contrato">
      <fieldset>
        <div class="ui-g-12">
          <strong>Informações de contato: </strong>
        </div>
    
        <div class="ui-g-12">
          <div>
            <span>Celular: </span>
            <span>{{ perfil.celular }}</span>
          </div>

          <div>
            <span>Telefone: </span>
            <span>{{ perfil.telefone }}</span>
          </div>

          <div>
            <span>Endereço: </span>
            <span>{{ perfil.cidade }},</span>
            <span>{{ perfil.estado }},</span>
            <span>{{ perfil.logradouro }},</span>
            <span *ngIf="perfil.complemento">{{ perfil.complemento }}, </span>
            <span>{{ perfil.numero }}</span>
          </div>
        </div>
        <form [formGroup]="selectServico" (ngSubmit)="solicitarServico()">
          <div class="ui-g-12">
            <div class="ui-g-12">
              <label for="pessoa">Selecione um serviço *:</label>
            </div>
            
            <div class="ui-g-12">
              <p-radioButton name="groupname" value="{{perfil.id_serv_1}}" label="{{perfil.nome_serv_1}}" formControlName="servico" *ngIf="perfil.id_serv_1"></p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton name="groupname" value="{{perfil.id_serv_2}}" label="{{perfil.nome_serv_2}}" formControlName="servico" *ngIf="perfil.id_serv_2"></p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton name="groupname" value="{{perfil.id_serv_3}}" label="{{perfil.nome_serv_3}}" formControlName="servico" *ngIf="perfil.id_serv_3"></p-radioButton>
            </div>
            <div class="ui-g-3">
              <button pButton type="submit" label="Solicitar serviço" [disabled]="">
              </button>
            </div>
          </div>
        </form>
      </fieldset>
    </div>

    <div class="ui-g-12">
      <h3 class="center">Opiniões sobre o profissional</h3>
    </div>

    <div class="ui-g-12">
      <fieldset>
        <form class="form" [formGroup]="formulario" (ngSubmit)="enviarPergunta()">
          <div class="ui-g-12">
            <div class="ui-g-4">
              <input pInputText type="text" formControlName="pergunta" placeholder="Faça uma pergunta">
            </div>
            <div class="ui-g-2">
              <button pButton type="submit" (click)="enviarPergunta()" label="Perguntar" [disabled]="">
              </button>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>

  <div class="ui-g center">
    <div class="ui-g-12">
      <p-growl [value]="msgs"></p-growl>
      <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

      <button pButton type="button" (click)="voltar()" label="Voltar">
      </button>

      <button pButton type="button" (click)="contratar()" label="Contratar">
      </button>
    </div>
  </div>
</fieldset>