.perfil-fs {
    margin-left: 200px;
    margin-right: 200px;
}

.perfil-div {
    padding: 10px;
    width: 1000px;
    height: 800px;
}

.center {
    text-align: center;
}

.dialog {
    margin-top: -50px;
}