<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid ui-g ui-fluid">
      <div class="navbar-header ui-g-2">
        <a class="navbar-brand" routerLink="/home/admin">Sobral Serviços</a>
      </div>
  
      <div class="ui-g-6">
        <div class="ui-g-9">
          <input type="text" pInputText placeholder="Procure um serviço...">
        </div>
        <div class="ui-g-3">
          <app-busca></app-busca>
        </div>
      </div>
      <div class="ui-g-4">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home/admin/servicos">Serviços</a></li>
          <li><a routerLink="/home/admin/cadastro">Finanças</a></li>
          <li><a routerLink="/home/admin/cadastro">Cadastrar</a></li>
          <li><a routerLink="/home/admin/login">Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>