<nav class="navbar navbar-toggleable-md navbar-light bg-faded ui-g ui-fluid">
  <div class="ui-g-2">
    <a class="navbar-brand" (click)="home()" routerLink="/home/admin">Sobral Serviços</a>
  </div>

  <div class="ui-g-7">
    <form [formGroup]="formulario" (ngSubmit)="buscar()">
      <div class="ui-g-8">
        <input type="text" formControlName="campoBusca" pInputText placeholder="Procure um serviço...">
      </div>
      <div class="ui-g-2" *ngIf="formulario.controls['campoBusca'].value">
        <button pButton type="submit" label="Buscar" icon="fa-search">
        </button>
      </div>
    </form>
    <div class="ui-g-2" *ngIf="!formulario.controls['campoBusca'].value">
      <app-busca-dialog></app-busca-dialog>
    </div>
  </div>

  <div class="ui-g-3">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/admin/servicos">Serviços</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link clickable">Finanças</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/admin/cadastro">Cadastrar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link clickable" (click)="sair()">Sair</a>
      </li>
    </ul>
  </div>
</nav>




<!-- <nav class="navbar navbar-default navbar-static-top">
  <form [formGroup]="formulario" (ngSubmit)="buscar()">
    <div class="container-fluid ui-g ui-fluid">
      <div class="navbar-header ui-g-2">
        <a class="navbar-brand" routerLink="/home/admin">Sobral Serviços</a>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-9">
          <input type="text" formControlName="campoBusca" pInputText placeholder="Procure um serviço...">
        </div>
        <div class="ui-g-3" *ngIf="!formulario.controls['campoBusca'].value">
          <app-busca-dialog></app-busca-dialog>
        </div>
        <div class="ui-g-3" *ngIf="formulario.controls['campoBusca'].value">
          <button pButton type="submit" label="Buscar" (click)="buscar()" icon="fa-search">
          </button>
        </div>
      </div>
      <div class="ui-g-4">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="/home/admin/servicos">Serviços</a>
          </li>
          <li>
            <a routerLink="/home/admin/login">Finanças</a>
          </li>
          <li>
            <a routerLink="/home/admin/cadastro">Cadastrar</a>
          </li>
          <li>
            <a routerLink="/home/admin/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </form>
</nav> -->