<app-nav-administrador></app-nav-administrador>

<div class="servico">
  <p-tabView>
    <p-tabPanel header="Adicionar categoria">



    </p-tabPanel>
    <p-tabPanel header="Adicionar servico">


    </p-tabPanel>
    <p-tabPanel header="Listar" selected="true">
        
      <app-crud></app-crud>
        
    </p-tabPanel>
    <p-tabPanel header="Aprovar">


    </p-tabPanel>
    <p-tabPanel header="Relatório de busca">


    </p-tabPanel>

    <p-tabPanel header="Adicionar Plano">


    </p-tabPanel>
  </p-tabView>
</div>