<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid ui-g">
    <div class="navbar-header ui-g-2">
      <a class="navbar-brand" routerLink="/home">Sobral Serviços</a>
    </div>

    <div class="ui-g-8">
      <div class="ui-g-10 ui-fluid">
        <input type="text" pInputText placeholder="Procure um serviço...">
      </div>
      <div class="ui-g-2 ui-fluid">
        <button pButton label="Buscar" icon="fa-search"></button>
      </div>
    </div>
    <div class="ui-g-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/cadastro">Cadastrar</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
<!--   <div class="ui-g">
    <div class="ui-g-2">
      <a class="link" routerLink="/home">Sobral Serviços</a>
    </div>

    <div class="ui-g-6 ui-fluid">
      <input type="text" pInputText placeholder="Procure um serviço...">
    </div>

    <div class="ui-g-2 ui-fluid">
      <button pButton label="Buscar" icon="fa-search"></button>
    </div>

    <div class="ui-g-1">
      <a class="link" routerLink="/login">Entrar</a>
    </div>

    <div class="ui-g-1">
      <a class="link" routerLink="/cadastro">Cadastro</a>
    </div>
  </div>
</nav> -->