<app-nav-administrador></app-nav-administrador>

<div class="servico">
  <p-tabView>
    <p-tabPanel header="Categorias e Serviços">

      <app-crud></app-crud>

    </p-tabPanel>
    <p-tabPanel header="Aprovar">
      
      <app-aprovar></app-aprovar>

    </p-tabPanel>
    <p-tabPanel header="Relatório de busca" selected="true">

      <app-relatorio-busca></app-relatorio-busca>

    </p-tabPanel>

    <p-tabPanel header="Planos">

      <app-planos></app-planos>

    </p-tabPanel>
  </p-tabView>
</div>